
@{
    ViewData["Title"] = "Completed";
}

<div style="text-align:center">
    <h2>Sipariş Tamamlanmıştır !</h2>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>



